.top{
    position: relative;;
    img{
        width: 100%;
        height: 200px;
    }
    .info{
        background-color: #fff;
        position:absolute;
        top:100px;
        left:50px;
        z-index:999;
        width: 70%;
        height: 160px;
        border-radius: 10px;
        box-shadow: 0px 0 10px #aa848e inset;
        title{
            margin-top: 15px;
            margin-left: 50px;
        }
        p{
            margin-left: 25px;
            margin-right: 25px;
            text-indent:1em;
            text-align: left;
            color: grey;
            line-height: 120%
        }
    }
}

.content{
    margin-top: 100px;
    h2{
        text-align: left;
        margin-left: 20px;
        font-size: 20px;
    }
    .box{
        margin-top: 25px;
        justify-content: center;
        display: flex;
        img{
            width: 140px;
            height: 1.8rem;
            line-height: 100px;
            margin-left: 20px;
            margin-right: 20px;
            border-radius: 5px;
            box-shadow: 0px 0 10px #b3989f;
        }
        h3{
            margin-top: 7px;
            margin-left: 15px;
            text-align: left;
            font-size: 15px;
            white-space: nowrap;
        }
        h4{
            margin-top: 5px;
            margin-left: 15px;
            text-align: left;
            font-size: 10px;
            color: grey;
        }
      
    }
}