*{
  margin: 0;
  padding: 0;
}

.process-img{
  width:100%;
}

.dish-title{
  text-align: center;
  padding-top: 0.22rem;
  padding-bottom: 0.13rem;
  font-size: 26px;
  font-weight: bold;
  color: #000;
}

.ingre-list{
  border-top: 1px solid #f4f4f4;
  margin: 10px;
  text-align: center;
}
.ingre-list li{
  border-bottom: 1px solid #f4f4f4;
  padding-top: .205rem;
  padding-bottom: .205rem;
  /* font-size: 1rem; */
  line-height: 1.3;
  display: flex;
  align-items: center;
}

.ingre-list li span:first-child{
  width: 60%;
  box-sizing: border-box;
  padding-right: .1rem;
  text-align: left;
  padding-left: 14px;
  font-size: 15px;
}

.ingre-list li span:last-child{
  width: 40%;
  color: #999;
  font-size: 15px;
}

.img-block{
  height: 250px;
  margin-top: .16rem;
  margin-bottom: 0.28rem;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-block img{
  width: 100%;
}
.step p {
  font-size: 0.4rem;
  color: #383838;
  line-height: 0.545rem;
  padding-bottom: .15rem;
}

.make-list{
  display: block;
  margin: 5px 8px;
}