.h-menu-header {
  display: flex;
  justify-content: flex-start;
}

.h-menu-header span {
  position: absolute;
  right: 10px;
  color: #898989;
  font-size: 13px;
}
.hr-scroll {
  overflow-x: auto;
  /* margin: 10px; */
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}
.hr-scroll>div {
  margin: 5px;
  
}
.hr-scroll p {
  text-align: center;
}
.hr-scroll img {
  width: 120px;
  height: 120px;
}